.large {
    padding: 50px
}

.margintopbottom20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margintopbottom10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cardmin {
    min-width: 300px;
}

.logo > img {
    width: 120px;
}

@media (min-width: 576px) {
    .jumbotron {
         padding: 2rem 1rem;
    }
}
